
.searchBar{
    max-width: 72% !important;
}
.btnHeight{
    height: 100% !important;
    max-height: 100%;
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
    .searchBar{
        max-width: 67% !important;
    }
}